{% extends 'base.html' %}

{% block title %}Make a suggestion{% endblock %}

{% block content %}

<h1>Make a suggestion</h1>
<p class="card-header">
    In this section, you can suggest films that you would like to see with us.
    After some time, they will be approved by the site administration and added to the vote.


</p>

<form action="{% url 'add_preference' %}" method="post">
    <br>
    <h3>
        Complete the form
    </h3>
    <br>
    {% csrf_token %}
    {{ form.non_field.errors }}
    <div class="card">
        <div class="card-body">
            {{form.as_p}}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Send your offer</button>
    </div>
    <br>
    <br>

</form>

{% endblock %}
