{% extends 'base.html' %}

{% block title %}Make a suggestion{% endblock %}

{% block content %}

<h1>Make a suggestion</h1>
<p class="card-header">
    In this section, you can suggest films that you would like to see with us.
    After some time, they will be approved by the site administration and added to the vote.


</p>

<form action="{% url 'add_movie'%}" method="get">
    <br>
    <h3>
        Complete the form
    </h3>
    <br>
    {{ form.non_field.errors }}
    <div class="card">
        <div class="card-body">
            {{form.as_p}}
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Search</button>
    </div>
    <br>
    <br>

</form>

<!--create card-body with search results-->
{% if results %}
<div class="card-body">
    <h3>
        Search results
    </h3>
    <br>
    <div class="card">
        <div class="card-body">
            <div class="row">
                {% for result in results %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="{{ result.poster }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ result.title }}</h5>
                            <p class="card-text">{{ result.year }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href="{% url 'add_movie' %}?imdb_id={{ result.imdbID }}" class="btn btn-sm btn-outline-secondary">Add</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

